<div class="home-container">
    <h1>Welcome to PDFyer App !</h1>
    <p>This application utilizes Aspose for generating and manipulating PDF documents.</p>
    <h2>Features:</h2>
    <ul>
      <li>Convert document from one format to other.</li>
      <li>Optimize PDFs and modify them !</li>
      <li>Create and generate templated PDFs.</li>
    </ul>
</div>
<div class="how-to-container">
  <h1>How to use ?</h1>
  <hr/>
  <p style="font-style: italic;">
    Wield the power of Aspose to  play around with your document !!!
  </p>
  <ol>
    <li> Go to your converter ! </li>
    <li> Upload your document </li>
    <li> Press <strong>'Convert'</strong> and wait for the magic to happen !</li>
    <br>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    <br>
    <li> Press on [ <img src="assets/avatar.png" width="20px" height="20px"> ] icon to preview ! </li>
    <li> Click on <strong>'Download'</strong> and archive it !</li>
    <li> Wanna see the trick again ? Click on [ <img src="assets/reset.png" width="20px" height="20px"> ] icon to reset ! </li>
  </ol>
  <div class="powered-by">
    <p>&copy; Powered by Aspose</p>
  </div>
</div>

