<div class="converter-container">
    <h2>PDF Encrypter</h2>
    <div class="file-upload">
      <button class="reset-btn" (click)="reset()">
        <img src="assets/reset.png">
      </button>
      <label for="fileInput" class="custom-file-upload">
        <input type="file" id="fileInput" (change)="onFileSelected($event)" accept=".pdf">
        Select PDF File
      </label>
      <hr/>
      <span *ngIf="selectedFile" class="file-name"><strong>{{ selectedFile.name }}</strong></span>
      <button class="preview-btn" *ngIf="download" (click)="previewFile()" [disabled]="!download">
        <img src="assets/avatar.png">
      </button>
    </div>
    <div class="quality-input">
      <label for="userpass"> Password: </label>
      <input id="userpass" type="password" [(ngModel)]="userPwd">
    </div>
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    <br>
    <button class="convert-btn" (click)="encryptPdf()" [disabled]="!selectedFile || download">Encrypt PDF</button>&nbsp;
    <button class="download-btn" *ngIf="download" (click)="downloadFile()">Download encrypted PDF</button>
</div>
